.env

.DS_Store
.python-version
poetry.lock

.ipynb_checkpoints/
.idea/
__pycache__/

venv/
.venv/
docs/
dist/
logs/
out/
data/
models/*
!models/master/

*.idlk
*.pt
*.ckpt
*.pdf
*.indd
*.docx
*.out
*.tif
*.tsv
/src/centrosome_analysis/
