.env

.DS_Store
.python-version

.ipynb_checkpoints/
.idea/
.vscode/
.pytest_cache/
__pycache__/

venv/
.venv/
dist/
logs/
out/
data/
models/*
tests/dataset_test/annotations
tests/dataset_test/predictions
tests/dataset_test/statistics
tests/dataset_test/visualisations
!models/archives/master_20221123/
/src/centrosome_analysis/

*.idlk
*.pt
*.ckpt
*.pdf
*.indd
*.docx
*.out
*.tif
*.tsv
*.csv
*.log
