.env

.DS_Store
.python-version
poetry.lock

.ipynb_checkpoints/
.idea/
__pycache__/

venv/
docs/
dist/
logs/
out/
data/
models/

*.idlk
*.h5
*.json
*.pdf
*.indd
*.docx
*.out
*.tif
/src/centrosome_analysis/
